/* --- Buttons --- */
.button,
.button_2 {
    position: relative;
    display: inline-block;
    margin: vw(9) vw(9);
    padding: vw(11) vw(11);
    width: 100%;
    max-width: vw(200);
    height: vw(41);
    line-height: 1.35;
    font-size: vw(14);
    font-family: $tff_4;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
    &::before {
        content: '';
        position: absolute;
        z-index:0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate3d(-100%,0,0);
        transition: all 0ms cubic-bezier(.18,.41,.31,1) 0ms;
    }
    &::after {
        content: '';
        position: absolute;
        z-index:0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate3d(100%,0,0);
        transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;

    }
    &:hover::before {
        transform: translate3d(0%,0,0);
        transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
    }
    &:hover::after {
        transform: translate3d(0%,0,0);
        transition: all 0ms cubic-bezier(.18,.41,.31,1) 200ms;

    }
    > span {
        position: relative;
        z-index: 1;
    }
    @include screen_upto(desktop) {
        margin: rem(9) rem(9);
        padding: rem(11) rem(11);
        max-width: rem(200);
        height: rem(41);
        font-size: rem(14);
    }
}
.button {
    background-color: $c_green;
    border: 0px solid $c_none;
    color: $c_white;
    &::before,
    &::after {
        background-color: $c_green_hover; 
    }
    @include screen_upto(tablet) {
        &.button_switch {
            background-color: $c_white;
            border: 1px solid $c_green;
            color: $c_green;
        }
        &::before,
        &::after {
            background-color: $c_green; 
        }
        &:hover {
            color: $c_white;
        }
    }
}
.button_2 {
    background-color: $c_white;
    border: 0px solid $c_none;
    color: $c_green;
    &::before,
    &::after {
        background-color: $c_green; 
    }
    &:hover { 
        color: $c_white;
    }
}
.downloadbutton {
    display: inline-block;
    margin: vw(10) vw(15);
    padding: 0;
    width: 100%;
    max-width: vw(140);
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    transition: all 150ms cubic-bezier(.18,.41,.31,1);
    @include screen_upto(desktop) {
        margin: rem(10) rem(15);
        max-width: rem(140);
    }

    img {
        width: 100%;
    }
	.googleplay {
        
	}
	.applestore {
        
	}
    &:hover {
        transform: scale(1.1);
    }
}