/* --- Proxima Nova Regular --- */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../font/proximanova-regular-webfont.eot');
    src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-regular-webfont.woff2') format('woff2'),
         url('../font/proximanova-regular-webfont.woff') format('woff'),
         url('../font/proximanova-regular-webfont.ttf') format('truetype'),
         url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --- Proxima Nova Black --- */
@font-face {
    font-family: 'proxima_novablack';
    src: url('../font/proximanova-black-webfont.eot');
    src: url('../font/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-black-webfont.woff2') format('woff2'),
         url('../font/proximanova-black-webfont.woff') format('woff'),
         url('../font/proximanova-black-webfont.ttf') format('truetype'),
         url('../font/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --- Museo Sans Thin --- */
@font-face {
    font-family: 'museo_sans300';
    src: url('../font/museosans_300-webfont.eot');
    src: url('../font/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_300-webfont.woff2') format('woff2'),
         url('../font/museosans_300-webfont.woff') format('woff'),
         url('../font/museosans_300-webfont.ttf') format('truetype'),
         url('../font/museosans_300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --- Museo Sans Black --- */
@font-face {
    font-family: 'museo_sans900';
    src: url('../font/museosans_900-webfont.eot');
    src: url('../font/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_900-webfont.woff2') format('woff2'),
         url('../font/museosans_900-webfont.woff') format('woff'),
         url('../font/museosans_900-webfont.ttf') format('truetype'),
         url('../font/museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;
}