/* --- Blocks grid --- */
.blocks {
	position: relative;
	display: block;
	overflow: visible;
	float: none;
	clear: both;
	width: 100%;

	&::after {
		content: ' ';
		position: relative;
		display: block;
		float: none;
		clear: both;
	}

	> .block {
		position: relative;
		display: block;
		box-sizing: border-box;
		overflow: visible;
		float: left;
		clear: none;
		padding: 0 10px;
		margin: 0;
	}
}

.blocks_table {
	display: table;

	> .block {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}

.blocks_ib {
	font-size: 0;

	> .block {
		display: inline-block;
		float: none;
		font-size: initial;
		vertical-align: middle;
	}
}

.blocks_flex {
	display: flex;
	flex-wrap: wrap;

	> .block {
		float: none;
		flex-grow: 1;
		vertical-align: middle;
	}
}

.blocks_center {
	text-align: center;

	> .block {
		float: none;
		margin: 0 auto;
	}
}

.w_100 {
	width: 100%;
}
.w_80 {
	width: 80%;
}
.w_75 {
	width: 75%;
}
.w_66 {
	width: 66.666%;
}
.w_60 {
	width: 60%;
}
.w_50 {
	width: 50%;
}
.w_40 {
	width: 40%;
}
.w_33 {
	width: 33.333%;
}
.w_25 {
	width: 25%;
}
.w_20 {
	width: 20%;
}

@include screen_upto(desktop) {

}

@include screen_upto(laptop) {

}

@include screen_upto(tablet) {

}

@include screen_upto(mobile) {

}