/* --- Frame --- */
html {
    font-size: vw(14);
	font-weight: normal;
	line-height: 1.35;
    @include screen_upto(desktop) {
        font-size: 14px;
    }
}
body {
	font-family: $t_fontfamily;
	color: $c_black;
}

/* --- Selection --- */
::-moz-selection {
    background-color: $c_green;
    color: $c_white;
}
::selection {
    background-color: $c_green;
    color: $c_white;
}

/* --- Placeholder --- */
::-webkit-input-placeholder {
    color: $c_grey;
    }
:-ms-input-placeholder {
    color: $c_grey;
    }
::-moz-placeholder {
    color: $c_grey;
    }
:-moz-placeholder {
    color: $c_grey;
    }

/* --- Content type --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: vw(20) 0;
	font-weight: normal;
    @include screen_upto(desktop) {
        margin: rem(20) 0;
    }
}
h1 {
    font-size: vw(36);
    @include screen_upto(desktop) {
        font-size: rem(36);
    }
}
h2 {
    font-size: vw(30);
    @include screen_upto(desktop) {
        font-size: rem(30);
    }
}
h3 {
    font-size: vw(24);
    @include screen_upto(desktop) {
        font-size: rem(24);
    }
}
h4 {
    font-size: vw(18);
    @include screen_upto(desktop) {
        font-size: rem(18);
    }
}
h5 {
    font-size: vw(16);
    @include screen_upto(desktop) {
        font-size: rem(16);
    }
}
h6 {
    font-size: vw(16);
    @include screen_upto(desktop) {
        font-size: rem(16);
    }
}
p {
    line-height: 2;
    color: $c_black_2;
}
a {
    color: inherit;
}
ul,
ol {
	list-style-position: outside;
}

/* --- Form elements --- */
input,
textarea,
select,
option {
    font-family: $t_fontfamily;
	font-size: vw(14);
	color: $c_black;
    @include screen_upto(desktop) {
        font-size: rem(14);
    }
}

/* --- Titles --- */
.maintitle {
    color: $c_white;
    line-height: 1;
    font-family: $tff_1;
    font-size: vw(41px);
    text-shadow: 0 0 10px $c_black;
    text-align: left;
    @include screen_upto(desktop) {
        font-size: vw(36);
    }
    @include screen_upto(laptop) {
        font-size: vw(50);
    }
    @include screen_upto(mobile) {
        font-size: vw(76);
    }

	.part_1 {
        display: block;
        margin: 0 0 -6.5% 19%;
	}
	.part_2 {
        display: block;
        font-size: vw(117px,$bp_4_low);
        @include screen_upto(desktop) {
            font-size: rem(112);
        }
        @include screen_upto(laptop) {
            font-size: vw(154);
        }
        @include screen_upto(mobile) {
            font-size: vw(220);
        }
	}
	.part_3 {
        display: block;
		margin: 0 0 0 19%;
        white-space: nowrap;
	}
}

.sectiontitle {
    color: $c_black;
    font-family: $tff_2;
    font-family: $tff_3;
    font-family: $tff_4;
    font-family: $tff_5;
    font-size: vw(30);
    text-transform: uppercase;
    @include screen_upto(desktop) {
        font-size: rem(30);
    }
    @include screen_upto(mobile) {
        font-size: rem(22);
    }
}
.feature .sectiontitle {
    color: $c_white;
}
.topic .sectiontitle {
    color: $c_green;
}

.green {
    color: $c_green;
}
.pink {
    color: $c_pink;
}
.blue {
    color: $c_blue;
}
