/* --- Animation --- */
@keyframes poly_pulse {
    0% {
        stroke: #fff;
        opacity: 0.5;
    }
    5% {        
        stroke: #99cc00;
        opacity: 1.0;
    }
    15% {
        stroke: #99cc00;
        opacity: 1.0;
    }
    30% {
        stroke: #fff;
        opacity: 0.5;
    }
    100% {
        stroke: #fff;
        opacity: 0.5;
    }
}
@keyframes poly_levitate {
    0% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
    35% {
        transform: rotate(-5deg) translate3d(0,-25px,0);
    }
    100% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
}