// Calculate vw
@function vw($pixel_value, $viewport_breakpoint : 1920) {

	$vw_context: (($viewport_breakpoint / ($viewport_breakpoint * 0 + 1)) * 0.01);
	
	@return (($pixel_value / ($pixel_value * 0 + 1)) / $vw_context) * 1vw;
}

// Calculate vh
@function vh($pixel_value, $viewport_breakpoint : 1080) {

	$vh_context: (($viewport_breakpoint / ($viewport_breakpoint * 0 + 1)) * 0.01);
	
	@return (($pixel_value / ($pixel_value * 0 + 1)) / $vh_context) * 1vh;
}

// Calculate rem
@function rem($pixel_value) {
	
	@return (($pixel_value / ($pixel_value * 0 + 1)) / $t_fontsize) * 1rem;
}

// Calculate em
@function em($pixel_value, $parent_value) {
	
	@return (($pixel_value / ($pixel_value * 0 + 1)) / ($parent_value / ($parent_value * 0 + 1))) * 1em;
}

// Set image's path
@function img_url($image) {

	@return url($i_path + $image);
}