/* ----------------------------------------
C U S T O M   R E S E T
---------------------------------------- */

/* --- Box-sizing --- */
html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* --- Focus --- */
*:focus {
    outline: 0;
}

/* --- Image rendering --- */
img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
}


/* ----------------------------------------
S H O R T H A N D S
---------------------------------------- */

/* --- Position --- */
$position: (
	's': static,
	'r': relative,
	'a': absolute,
	'f': fixed
);
@each $key, $value in $position {
	.pos_#{$key} {
		position: $value;
	}
}

/* --- Text-Align --- */
$textalign: (
	'l': left,
	'c': center,
	'r': right,
	'j': justify
);
@each $key, $value in $textalign {
	.ta_#{$key} {
		text-align: $value;
	}
}

/* --- Vertical-Align --- */
$verticalalign: (
	't': top,
	'tt': text-top,
	'm': middle,
	'b': bottom,
	'tb': text-bottom,
	'base': baseline,
	'sup': super,
	'sub': sub
);
@each $key, $value in $verticalalign {
	.va_#{$key} {
		vertical-align: $value;
	}
}

/* --- Float --- */
$float: (
	'l': left,
	'r': right
);
@each $key, $value in $float {
	.fl_#{$key} {
		float: $value;
	}
}

/* --- Overflow --- */
$overflow: (
	'h': hidden,
	'v': visible,
	'o': overlay,
	's': scroll
);
@each $key, $value in $overflow {
	.of_#{$key} {
		overflow: $value;
	}
}

/* --- Transition --- */
$transition: (
	'100': 100ms,
	'150': 150ms,
	'200': 200ms,
	'250': 250ms,
	'300': 300ms,
	'600': 600ms
);
@each $key, $value in $transition {
    @if ($key == '100') {
        .anim {
            transition: all #{$value} ease-in-out 0ms;
        }
    } @else {
        .anim_#{$key} {
            transition: all #{$value} ease-in-out 0ms;
        }
    }
}

/* --- No break --- */
.no_br {
    white-space: nowrap;
}

/* --- Display --- */
.hide {
    display:none;
}
.hidden {
    display:none !important;
}

/* --- ClearFix --- */
.cf::before, .cf::after {
    content: ' ';
    display: table;
}
.cf::after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* --- Table --- */
.table {
    display: table;

    .t_tr {
        display: table-row;
    }
    .t_td {
        display: table-cell;
    }
    .t_theader {
        display: table-header-group;
    }
    .t_tfooter {
        display: table-footer-group;
    }
}


/* ----------------------------------------
M I X I N S
---------------------------------------- */

@mixin absolute_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin screen_upto($media) {

	@if $media == desktop {
		@media screen and (max-width: $bp_4_low - 1px) {
			@content;
		}
	}
	@else if $media == laptop {
		@media screen and (max-width: $bp_3_mid - 1px) {
			@content;
		}
	}
	@else if $media == tablet {
		@media screen and (max-width: $bp_3_low - 1px) {
			@content;
		}
	}
	@else if $media == mobile {
		@media screen and (max-width: $bp_1_top - 1px) {
			@content;
		}
	}

}