
// Typo
$t_fontsize: 14;
$tfs_big: 30;
$tfs_normal: 16;
$tfs_small: 8;
$t_fontfamily: 'Roboto', sans-serif;
$tff_1: 'Playfair Display',serif;
$tff_2: 'museo_sans300',serif;
$tff_3: 'museo_sans900',serif;
$tff_4: 'proxima_nova_rgregular',serif;
$tff_5: 'proxima_novablack',serif;

// Color
$c_green: #99cc00;
$c_green_hover: #a7de00;
$c_blue: #00a7e1;
$c_pink: #e80f42;
$c_black: #000;
$c_black_2: #111;
$c_grey_dark: #333;
$c_grey_light: #e6e6e6;
$c_grey_light_2: #f2f2f2;
$c_grey_light_3: #bfbfbf;
$c_grey: #757575;
$c_white: #fff;
$c_none: transparent;

// Image
$i_path: '../img/';

// Breakpoint
$bp_4_top: 3840px;
$bp_4_mid: 2560px;
$bp_4_low: 1920px;
$bp_3_top: 1650px;
$bp_3_mid: 1366px;
$bp_3_low: 1024px;
$bp_2_top: 960px;
$bp_2_mid: 872px;
$bp_2_low: 768px;
$bp_1_top: 640px;
$bp_1_mid: 480px;
$bp_1_low: 360px;