/* --- Form --- */
.form_box {
    form {
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        textarea,
        select {
            display: block;
            margin: vw(15) 0;
            width: 100%;
            padding: vw(14) vw(15);
            background-color: $c_grey_light;
            border: 1px solid $c_grey_light;
            font-size: vw(12);
            font-family: $tff_2;
            text-align: center;
            transition: all 200ms cubic-bezier(.18,.41,.31,1);
            @include screen_upto(desktop) {
                margin: rem(15) 0;
                padding: rem(14) rem(15);
                font-size: rem(12);
            }
            &:hover,
            &:focus {
                background-color: $c_grey_light_3;
                color: $c_white;
            }
        }
        input[type="checkbox"] {
            display: inline-block;
            width: auto;
            padding: 0;
            vertical-align: middle;
        }
        button[type="submit"] {
            margin: vw(20) auto vw(10);
            @include screen_upto(desktop) {
                margin: rem(20) auto rem(10);
            }
        }
        label {
            padding:0 vw(5);
            vertical-align: middle;
            font-size: vw(12);
            cursor: pointer;
            @include screen_upto(desktop) {
                padding:0 rem(5);
                font-size: rem(12);
            }
        }
    }
    .form_noty {
        display: none;

        &[data-state="success"] {

        }
    }
}