/* --- Loader --- */
.pace {
    pointer-events: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 100%;
    width: 100%;
    height: rem(3);
    background-color: rgba(153, 204, 0, 1);
}