/* --- Modal --- */                         
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    .modal_content {
        position: absolute;
        z-index:-100;
        bottom: 100%;
        visibility: hidden;
        opacity: 0;
    }
    .modal_overlay {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $c_black;
    }
    .modal_container {
        position: relative;
        z-index: 2;
        display: table;
        width: 100%;
        height: 100%;
        pointer-events: none;

        .modal_frame {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            overflow-x: hidden;
            overflow-y: auto;
            pointer-events: none;
            &::-webkit-scrollbar {
                width: 17px;
            }
            &::-webkit-scrollbar-track {
                background-color: $c_grey_dark;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $c_green;
            }
            &::-webkit-scrollbar-thumb:window-inactive {
                background-color: $c_grey;
            }
            @include screen_upto(mobile) {
                vertical-align: top;
            }

            .modal_wrap {
                position: relative;
                display: inline-block;
                width: 100%;
                max-width: vw(400);
                background-color: $c_white;
                box-shadow:0 0 15px 5px rgba(0,0,0,0.15);
                pointer-events: all;
                @include screen_upto(desktop) {
                    max-width: rem(400);
                }
                @include screen_upto(mobile) {
                    max-width: 100%;
                }

                .modal_box {
                    color: $c_black;

                    .sectiontitle {
                        margin: 0;
                        color: $c_green;
                        font-size: vw(21);
                        font-family: $tff_3;
                        @include screen_upto(desktop) {
                            font-size: rem(21);
                        }
                    }
                    p {
                        line-height: 1.35;
                        font-family: $tff_2;
                    }
                    .note {
                        margin-top: 0;
                        font-size: vw(10);
                        font-family: $tff_2;
                        text-align: left;
                        @include screen_upto(desktop) {
                            font-size: rem(10);
                        }
                        a {
                            color: $c_green;
                        }
                    }
                    .block {
                        margin: 0;
                        vertical-align: top;
                    }
                }
                .modal_close {
                    position: absolute;
                    z-index: 10;
                    right: 0;
                    top: 0;
                    padding: vw(10); 
                    line-height: 1;
                    font-family: $tff_2;
                    font-size: vw(30);
                    overflow: hidden;
                    cursor: pointer;
                    transition: all 200ms cubic-bezier(.18,.41,.31,1);
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: $c_green;
                        transform: translate3d(0,-100%,0);
                        transition: all 200ms cubic-bezier(.18,.41,.31,1);
                    }
                    > span {
                        position: relative;
                        display: inline-block;
                        z-index: 1;
                        color: $c_grey;
                        transform: rotate(0deg);
                        transition: all 200ms cubic-bezier(.18,.41,.31,1);
                    }
                    &:hover::before {
                        transform: translate3d(0,0%,0);
                    }
                    &:hover {
                        > span {
                            color: $c_white;
                            transform: rotate(180deg);
                        }
                    }
                    @include screen_upto(desktop) {
                        padding: rem(10); 
                        font-size: rem(30);
                    }
                }
            }
        }
    }
    &[data-modalsize="normal"] {
        .modal_box {
            padding: vw(30) vw(45);
            @include screen_upto(desktop) {
                padding: rem(30) rem(45);
            }
        }
    }
    &[data-modalsize="full"] {
        .modal_container {
            .modal_frame {
                overflow-y: hidden;

                .modal_wrap {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    background-color: $c_black;

                    .modal_close {
                        font-size: vw(40);
                        color: $c_green;
                        &:hover {
                            color: $c_green;
                        }
                        @include screen_upto(desktop) {
                            font-size: rem(40);
                        }
                    }
                    .video_player {
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
            }
        }
    }
    &.open {
        display: block;
    }
}