/* --- Header --- */
header {
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;
    height: vw(75);
    background-color: $c_black;
    color: $c_white;
    @include screen_upto(desktop) {
        height: 75px;
    }
    @media screen and (max-width: $bp_1_mid - 1px) {
        height: 60px;
    }
}

/* --- Logo --- */
.logo {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    padding: vw(11) vw(30);
    @include screen_upto(desktop) {
        padding: 11px 30px;
    }
    @include screen_upto(laptop) {
        right: 0;
        background-color: $c_black;
    }
    @media screen and (max-width: $bp_1_mid - 1px) {
        padding: 15px 10px;
    }

	.logoimg {
        display: inline-block;
        height: 100%;
	}
}

/* --- Menu --- */
.menu {
    transition: all 600ms cubic-bezier(.18,.41,.31,1) 0ms;

	.menugroup {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        text-align: center;
        transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
        @include screen_upto(desktop) {
            padding: 0 30px 0 0;
            text-align: right;
        }

		.menuelement {
            position: relative;
            display: inline-block;
            font-size: vw(14);
            vertical-align: top;
            @include screen_upto(desktop) {
                font-size: rem(14);
            }

			.menupoint {
                position: relative;
                display: inline-block;
                padding: vw(2) vw(2);
                margin: vw(17) 0;
                height: vw(41);
                color: $c_white;
                text-transform: uppercase;
                text-decoration: none;
                overflow: hidden;
                transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
                &::before {
                    content: '';
                    position: absolute;
                    z-index:0;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $c_green; 
                    opacity: 0;
                    transform: translate3d(-100%,0,0);
                    transition: all 0ms cubic-bezier(.18,.41,.31,1) 0ms;
                }
                &::after {
                    content: '';
                    position: absolute;
                    z-index:0;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $c_green; 
                    opacity: 0;
                    transform: translate3d(100%,0,0);
                    transition: all 400ms cubic-bezier(.18,.41,.31,1) 0ms;

                }
                &:hover::before {
                    opacity: 1;
                    transform: translate3d(0%,0,0);
                    transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
                }
                &:hover::after {
                    opacity: 1;
                    transform: translate3d(0%,0,0);
                    transition: all 0ms cubic-bezier(.18,.41,.31,1) 200ms;

                }
                > span {
                    position: relative;
                    z-index: 1;
                    display: block;
                    padding: vw(11) vw(28);
                    height: vw(37);
                    background-color: $c_black; 
                }
                &.no_upper {
                    text-transform: none;
                }
                &.active {
                    color: $c_green;
                }
                @include screen_upto(desktop) {
                    margin: rem(17) 0;
                    height: rem(41);
                    > span {
                        padding: rem(11) rem(28);
                        height: rem(37);
                    }
                }
                @media screen and (max-width: $bp_3_top - 1px) {
                    margin: rem(17) 0;
                    > span {
                        padding: rem(11) rem(14);
                    }
                }
			}
            .dropdown {
                position: absolute;
                left: 0;
                top: 100%;
                height: 0px;
                overflow: hidden;

                .menugroup {
                    position: relative;
                    display: block;
                    transform: translate3d(0,-100%,0);
                    background-color: $c_white;
                    border-top: vw(4px) solid rgba(0,0,0,0.25);
                    text-align: left;
                    transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
                    @include screen_upto(desktop) {
                        padding: 0 0 0 0;
                        border-top: rem(4px) solid rgba(0,0,0,0.25);
                    }

                    .menuelement {
                        display: block;
                        
                        .menupoint {
                            display: block;
                            margin: 0;
                            height: auto;
                            color: $c_black;
                            white-space: nowrap;
                            &:hover {
                                color: $c_white;
                            }
                            > span {
                                background-color: $c_none; 
                                padding: vw(10) vw(20);
                            }
                            @include screen_upto(desktop) {                              
                                > span {
                                    padding: rem(10) rem(20);
                                }
                            }

                            .eventdetails {
                                display: block;
                                font-size: vw(8px);
                                @include screen_upto(desktop) {
                                    font-size: rem(8px);
                                }
                            }
                        }
                        &:first-child .menupoint {
                            > span {
                                padding: vw(15) vw(20) vw(10);
                            }
                            @include screen_upto(desktop) {
                                > span {
                                    padding: rem(15) rem(20) rem(10);
                                }
                            }
                        }
                        &:last-child .menupoint {
                            > span {
                                padding: vw(10) vw(20) vw(15);
                            }
                            @include screen_upto(desktop) {
                                > span {
                                    padding: rem(10) rem(20) rem(15);
                                }
                            }
                        }
                    }
                }
                &.open {
                    .menugroup {
                        transform: translate3d(0,0%,0);
                    }
                }
            }
            .button {
                display: inline-block;
                padding: vw(11) vw(55);
                margin: vw(17) 0 vw(17) vw(21);
                width: auto;
                height: vw(41);
                line-height: 1.35;
                font-size: vw(14);
                vertical-align: middle;
                text-decoration: none;
                text-transform: uppercase;
                @include screen_upto(desktop) {
                    padding: rem(11) rem(55);
                    margin: rem(17) 0 rem(17) rem(21);
                    height: rem(41);
                    font-size: rem(14);
                }
            }
		}
	}

    @include screen_upto(laptop) {
        position: fixed;
        left: 100%;
        top: 0;
        z-index: -1;
        bottom: 0;
        padding: 110px 0 100px;
        width: 100%;
        background-color: $c_black;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 600ms cubic-bezier(.18,.41,.31,1) 200ms;
        
        &::-webkit-scrollbar {
            width: 17px;
        }
        &::-webkit-scrollbar-track {
            background-color: $c_grey_dark;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $c_green;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background-color: $c_grey;
        }

        .menugroup {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
            text-align: center;

            .menuelement {
                position: relative;
                display: block;
                font-size: rem(15);
                vertical-align: top;
                transform: translate3d(100%,0,0);
                transition: all 1000ms cubic-bezier(.18,.41,.31,1) 0ms;
                @for $i from 1 to 20 {
                    &:nth-child(#{$i}) { 
                        transition-delay: random(100) + ms; 
                    }
                }

                .menupoint {
                    display: block;
                    margin: 0;
                    height: auto;
                    color: $c_white;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
                    &::before,
                    &::after {
                        background-color: $c_black_2;
                    }
                    &:hover::before,
                    &:hover::after {
                        background-color: $c_black_2;
                    }
                    &.no_upper {
                        text-transform: none;
                    }
                    &.active {
                        color: $c_green;
                    }
                    > span {
                        padding: rem(10) rem(10);
                        background-color: $c_none;
                    }
                }
                .dropdown {
                    position: relative;
                    left: auto;
                    top: auto;
                    height: auto !important;
                    visibility: visible !important;
                    overflow: visible;
                    
                    .menugroup {
                        position: static;
                        transform: translate3d(0,0,0);
                        background-color: $c_none;
                        border-top: none;
                        text-align: center;
                        
                        .menuelement {
                            display: block;
                            
                            .menupoint {
                                display: block;
                                margin: 0;
                                height: auto;
                                color: $c_white;
                                white-space: nowrap;
                                transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
                                &::before,
                                &::after {
                                    background-color: $c_black_2;
                                }
                                &:hover::before,
                                &:hover::after {
                                    background-color: $c_black_2;
                                }

                                .eventdetails {
                                    display: block;
                                    font-size: rem(8px);
                                }
                                > span {
                                    padding: rem(10) rem(10);
                                    background-color: $c_none;
                                }
                            }
                            &:first-child .menupoint {
                                > span {
                                    padding: rem(10) rem(10);
                                }
                            }
                            &:last-child .menupoint {
                                > span {
                                    padding: rem(10) rem(10);
                                }
                            }
                        }
                    }
                } 
                &.js_dropdown {
                    transition: all 0ms linear 800ms;
                    
                    .menupoint {
                        display: none;
                    }
                }
                .button {
                    display: inline-block;
                    padding: rem(11) rem(55);
                    margin: rem(17) rem(21);
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    line-height: 1.35;
                    font-size: rem(15);
                    vertical-align: middle;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
        &.open {
            left: 0%;
            transition: all 500ms cubic-bezier(.18,.41,.31,1) 0ms;

            .menugroup {
                .menuelement {
                    transform: translate3d(0%,0,0);
                    transition: all 400ms cubic-bezier(.18,.41,.31,1) 0ms;
                    @for $i from 1 to 20 {
                        &:nth-child(#{$i}) { 
                            transition-delay: 0ms + $i * 20ms; 
                        }
                    }
                    .dropdown {
                        .menugroup {
                            .menuelement {
                                @for $i from 1 to 20 {
                                    &:nth-child(#{$i}) {
                                        transition-delay: 0ms + 8 * 20ms + $i * 20ms; 
                                    }
                                }
                            }
                        }
                    }
                    &.js_dropdown {
                        transition: all 0ms linear 0ms;
                    }
                }
            }
        }
    }
}
.eventdetails {

}

/* --- Compact button --- */
.compactbutton {
    position: absolute;
    z-index: 11;
    display: inline-block;
    top: 0;
    right: -95px;
    padding: 20px 30px;
    cursor: pointer;
    overflow: hidden;
    transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
    
	> div {
        position: relative;
        margin: 0 auto; 
        width: 35px;
        height: 35px;
        transition: all 100ms cubic-bezier(.18,.41,.31,1) 0ms;

		span {
            position: absolute;
            left: 0;
            display: block;
            height: 5px;
            width: 100%;
            background-color: $c_white;
            border-radius: 1px;
            opacity: 1;
            transform: rotate(0deg);
            transition: 0.15s ease-in-out;

            &:nth-child(1) {
                top: 3px;
                transition: all 200ms cubic-bezier(.18,.41,.31,1) 0ms;
            }
            &:nth-child(2) {
                top: 15px;
            }
            &:nth-child(3) {
                top: 27px;
            }
		}
	}
    &::before {
        content:'';
        position: absolute;
        display: inline-block;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $c_green;
        transform: translate3d(-100%,0,0);
        opacity: 0.1;
        transition: all 300ms;
    }
    &:hover {
        &::before {
            opacity: 1.0;
            transform: translate3d(0%,0,0);
            transition: all 200ms cubic-bezier(.14,.37,.36,1) 0ms;
        }
        > div {
            span {
                background-color: $c_white;
            }
        }
    }
    &.open {
        &::before {
            opacity: 0.0;
            transform: translate3d(100%,0,0);
            transition: all 300ms;
        }
        > div {
            span {
                &:nth-child(1) {
                    top: 16px;
                    transform: rotate(135deg);
                }
                &:nth-child(2) {
                    left: -16px;
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 16px;
                    transform: rotate(-135deg);
                }
            }
        }
        &:hover {
            &::before {
                opacity: 1.0;
                transform: translate3d(0%,0,0);
                transition: all 200ms cubic-bezier(.14,.37,.36,1) 0ms;
            }
        }
    }

    @include screen_upto(laptop) {
        right: 0px;

    }
    @media screen and (max-width: $bp_1_mid - 1px) {
        padding: 13px 15px;
    }
}