/* --- Frame --- */
html {
	position: static;
	width: 100%;
	height: 100%;
	min-width: 250px;
	min-height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	background: $c_white;
	overflow-x: hidden;
}

main {
	width: 100%;
}

section {
	width: 100%;
	text-align: center;
}

/* --- Feature --- */
.feature {
    position: relative;
    width: 100%;

    .maintitle {

    }
}
.feature_visual {
	position: relative;
	display: block;
	width: 100%;
	height: vw(1000);
	overflow: hidden;
    @include screen_upto(desktop) {
        height: vw(1000);
    }
    @include screen_upto(tablet) {
        height: vw(1540);
    }
    @include screen_upto(mobile) {
        height: vw(4300);
    }
	.maintitle {
		position: absolute;
		z-index: 4;
		bottom: vw(520);
		left: 50%;
		transform: translate(-50%, 0);
		@include screen_upto(desktop) {
			bottom: vw(520);
		}
		@include screen_upto(tablet) {
			bottom: vw(870);
		}
		@include screen_upto(mobile) {
			bottom: vw(3210);
		}
	}
}
.feature_bg {

    position: relative;
	z-index: 1;
    width: 100%;
	height: 100%;
	background-color: $c_black;
    font-size: 0;

	.feature_bgimg {

        width:100%;
		@include screen_upto(mobile) {
			width: auto;
			position: absolute;
			height: 160vw;
			top: -46vw;
			transform: translate3d(-50%,0,0);
		}
	}
}
.feature_partners {
	z-index: 8;
    margin: vw(60) 0 0;
    @include screen_upto(desktop) {
        margin: vw(60) 0 0;
    }
	@include screen_upto(tablet) {
		margin: vw(60) vw(192) 0;
	}
	@include screen_upto(mobile) {
		margin: vw(60) 0 0;
	}

	.feature_partner {

		transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
		@include screen_upto(tablet) {
			padding: vw(58) vw(30);
		}
		@include screen_upto(mobile) {
			padding: vw(54) vw(30) vw(54) vw(110);
			width: 50%;
			text-align: left;
			&:nth-child(even) {
				padding: vw(54) vw(110) vw(54) vw(30);
			}
		}
		&:hover {
			transform: translate3d(0,vw(-10),0);
			transition: all 150ms cubic-bezier(.18,.41,.31,1) 0ms;
		}

		.feature_partnerlogo {
			height: vw(35);
			@include screen_upto(tablet) {
				height: vw(74);
			}
			@include screen_upto(mobile) {
				height: vw(220);
				max-width: 90%;
			}
		}
	}
}

.feature_curtain {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: vw(1080);
	width: auto;
	height: vw(1080);
	@include screen_upto(mobile) {
		top: vw(2180);
		height: vw(1800);
	}
	
	&.left {
		left: 0;
		transform: translate3d(-54%,-100%,0);
	}
	&.right {
		right: 0;
		transform: translate3d(54%,-100%,0) scale(-1, 1);
	}
}

.feature_keynote_img {
	display: inline-block;
	position: absolute;
	z-index: 5;
	top: vw(1096);
	width: auto;
	height: vw(690);
	@include screen_upto(mobile) {
		top: vw(2192);
		height: vw(1100);
	}

	&.left {
		left: 0;
		transform: translate3d(-12%,-100%,0);
	}
	&.right {
		right: 0;
		transform: translate3d(0%,-100%,0);
	}
}

.feature_keynote {
	position: absolute;
	z-index: 7;
	bottom: vw(70);
	width: vw(420);
	text-align: center;
    @include screen_upto(desktop) {
        bottom: vw(70);
		width: vw(420);
    }
    @include screen_upto(tablet) {
        bottom: auto;
		top: vw(70);
		margin: 75px 0 0;
		width: vw(640);
    }
	@include screen_upto(mobile) {
        bottom: vw(2210);
		top: auto;
		width: vw(840);
	}
	
	.feature_keynote_label {
		display: block;
		margin: 0;
		color: $c_white;
		font-family: $tff_2;
		font-size: vw(24);
		@include screen_upto(desktop) {
			font-size: vw(24);
		}
		@include screen_upto(tablet) {
			font-size: vw(30);
		}
		@include screen_upto(mobile) {
			font-size: vw(60);
		}
	}
	.feature_keynote_name {
		display: block;
		margin: 0;
		color: $c_white;
		font-family: $tff_3;
		font-size: vw(34);
		@include screen_upto(desktop) {
			font-size: vw(34);
		}
		@include screen_upto(tablet) {
			font-size: vw(40);
		}
		@include screen_upto(mobile) {
			font-size: vw(80);
		}
	}
	&.left {
		left: vw(20);
		@include screen_upto(desktop) {
			left: vw(20);
		}
		@include screen_upto(mobile) {
			text-align: left;
			left: vw(100);
			width: vw(960);
		}
	}
	&.right {
		right: vw(20);
		@include screen_upto(desktop) {
			right: vw(20);
		}
		@include screen_upto(mobile) {
			text-align: right;
			right: vw(100);
			width: vw(700);
		}
	}
}

.feature_polygons {
	position: absolute;
	z-index: 3;
	width: vw(1200);
    height: vw(250);
    top: vw(275);
    left: 50%;
    transform: translate3d(-50%,0,0);
	@include screen_upto(tablet) {
    	top: vw(400);
    	transform: translate3d(-50%,0,0) scale(1.1);
	}
	@include screen_upto(mobile) {
    	top: vw(750);
		width: vw(1400);
    	transform: translate3d(-50%,0,0) scale(1.2);
	}

	.feature_polygon {
		position: absolute;

		.poly_box {
			backface-visibility: hidden;
			perspective: 1000;
			will-change: transform;
			animation: poly_levitate 9s ease-in-out infinite;
			@include screen_upto(tablet) {
				animation: none;
			}
			@include screen_upto(mobile) {
				animation: none;
			}

			svg {
				position: relative;
				width: 100%;
				max-width: 100%;
			}
			path {
				opacity: 0.35;
				backface-visibility: hidden;
				perspective: 1000;
				will-change: transform;
				animation: poly_pulse 23s ease-in-out infinite;
				@include screen_upto(tablet) {
					animation: none;
				}
				@include screen_upto(mobile) {
					animation: none;
				}
			}
		}
		&.poly_1.left {
			top: vw(125);
			left: vw(280);
			width: vw(70);
			transform: rotate(5deg) scale(-1, 1);
			.poly_box {
				animation-delay: 0ms;
				path {
					animation-delay: 3s;
				}
			}
		}
		&.poly_2.left {
			top: vw(70);
			left: vw(133);
			width: vw(186);
			transform: rotate(1deg) scale(-1, 1);
			.poly_box {
				animation-delay: 300ms;
				path {
					animation-delay: 16s;
				}
			}
		}
		&.poly_3.left {
			top: vw(136);
			left: vw(120);
			width: vw(100);
			transform: rotate(-30deg) scale(-1, 1);
			.poly_box {
				animation-delay: 600ms;
				path {
					animation-delay: 9s;
				}
			}
		}
		&.poly_4.left {
			top: vw(135);
			left: vw(30);
			width: vw(140);
			transform: rotate(-30deg) scale(-1, 1);
			.poly_box {
				animation-delay: 1200ms;
				path {
					animation-delay: 22s;
				}
			}		
		}
		&.poly_5.left {
			top: vw(205);
			left: vw(-25);
			width: vw(100);
			transform: rotate(26deg) scale(-1, 1);
			.poly_box {
				animation-delay: 1800ms;
				path {
					animation-delay: 6s;
				}
			}	
		}
		&.poly_1.right {
			top: vw(125);
			right: vw(280);
			width: vw(70);
			transform: rotate(-5deg);
			.poly_box {
				animation-delay: 2100ms;
				path {
					animation-delay: 17s;
				}
			}		
		}
		&.poly_2.right {	
			top: vw(70);
			right: vw(133);
			width: vw(186);
			transform: rotate(-1deg);
			.poly_box {
				animation-delay: 0ms;
				path {
					animation-delay: 19s;
				}
			}		
		}
		&.poly_3.right {
			top: vw(136);
			right: vw(120);
			width: vw(100);
			transform: rotate(30deg);
			.poly_box {
				animation-delay: 300ms;
				path {
					animation-delay: 10s;
				}
			}		
		}
		&.poly_4.right {
			top: vw(135);
			right: vw(30);
			width: vw(140);
			transform: rotate(30deg) scale(-1, 1);
			.poly_box {
				animation-delay: 600ms;
				path {
					animation-delay: 14s;
				}
			}				
		}
		&.poly_5.right {
			top: vw(205);
			right: vw(-25);
			width: vw(100);
			transform: rotate(-26deg) scale(-1, 1);
			.poly_box {
				animation-delay: 900ms;
				path {
					animation-delay: 5s;
				}
			}
		}
	}
}

.feature_content {
	position: absolute;
	z-index: 9;
	bottom: vw(70);
	left: 50%;
	transform: translate3d(-50%,0,0);
	width: 100%;
	max-width: vw(1000);
	@include screen_upto(desktop) {
		bottom: vw(70);
        max-width: vw(1000);
    }
    @include screen_upto(tablet) {
		max-width: vw(1540);
		height: vw(640);
    }
    @include screen_upto(mobile) {
		max-width: vw(1860);
		height: vw(1860);
    }
	@media screen and (max-width: $bp_1_mid - 1px) {
		height: vw(2000);
	}

	.sectiontitle {
		margin: 0;
		font-size: vw(36);
		@include screen_upto(desktop) {
			font-size: rem(36);
		}
		@include screen_upto(tablet) {
			font-size: vw(84);
		}
		@include screen_upto(mobile) {
			font-size: vw(132);
		}
	}
	.buttonbox {
		white-space: nowrap;
		@include screen_upto(mobile) {
			white-space: normal;
		}

		.button,
		.button_2 {
			margin: vw(10) vw(15);
			white-space: normal;
			@include screen_upto(mobile) {
				margin: vw(40) vw(200);
				padding: rem(15) rem(15);
				max-width: rem(300);
				height: rem(49);
			}
			@media screen and (max-width: $bp_1_mid - 1px) {
				margin: vw(30) auto;
				padding: rem(10) rem(10);
				height: rem(39);
			}
		}
	}
}

/* --- Topic --- */
.topic {
	@include screen_upto(tablet) {
        padding: 0 rem(50);
	}
	@include screen_upto(mobile) {
        padding: 0 rem(20);
	}
}
.topic_areas {
	display: block;
	margin: 0 auto;
	padding: vw(65) 0 vw(25);
	width: 100%;
	font-size: 0;
    @include screen_upto(desktop) {
        padding: rem(65) 0 rem(25);
    }
	@include screen_upto(tablet) {
		display: none;
	}

	.topic_area {
		position: relative;
		display: inline-block;
		margin: 0;
		width: vw(60);
		height: vw(60);
		font-size: initial;
		vertical-align: top;
		@include screen_upto(desktop) {
			width: rem(60);
			height: rem(60);
		}

		.topic_tooltip {
			position: absolute;
			z-index: 5;
			left: 50%;
			bottom: 100%;
			margin: 0 0 vw(20);
			min-width: vw(200);
			width: 100%;
			max-width: vw(300);
			padding: vw(10) vw(10);
			background-color: $c_grey_light_2;
			font-size: vw(12);
			text-align: center;
			cursor: default;
			pointer-events: none;
			transform: translate3d(-50%,50%,0) rotate3d(0,1,0,90deg);
			transition: all 200ms ease-out 0ms;
			&::after {
				content: '';
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				display: inline-block;
				transform: translate3d(-50%,0,0);
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: vw(20) vw(15) 0 vw(15);
				border-color: $c_grey_light_2 transparent transparent transparent;
				transition: all 200ms ease-out 0ms;
			}
			@include screen_upto(desktop) {		
				margin: 0 0 rem(20);
				min-width: rem(200);
				max-width: rem(300);
				padding: rem(10) rem(10);
				font-size: rem(12);
				&::after {
					border-width: rem(20) rem(15) 0 rem(15);
				}
			}
		}
		.topic_areaicon {
			position: absolute;
			left: vw(6);
			top: vw(6);
			width: vw(48);
			height: vw(48);
			fill: #333;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			transform: translate3d(0,0,0) scale(0.625, 0.625);
			transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
			@include screen_upto(desktop) {
				left: rem(6);
				top: rem(6);
				width: rem(48);
				height: rem(48);
			}

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate3d(-50%,-50%,0);
				width: 100%;
				max-height: 100%;

				path,
				circle,
				ellipse,
				polygon {
					transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
				}
			}
		}
		&:hover,
		&.active,
		&.selected {
			.topic_tooltip {
				transform: translate3d(-50%,0,0) rotate3d(0,1,0,0deg);
				transition: all 200ms ease-out 100ms;
				&::after {
					top: 100%;
					transition: all 200ms ease-out 100ms;
				}
			}
			.topic_areaicon {
				transform: translate3d(0,0,0)  scale(1.0, 1.0);
			}
		}
		&:not(:hover):not(.active):not(.selected) {

			.topic_areaicon {
				svg path,
				svg circle,
				svg ellipse,
				svg polygon {
					fill: #d3d3d3 !important;
				}
			}
		}
	}
	&.interaction {
		.topic_area.active  {
			.topic_tooltip {
				transform: translate3d(-50%,50%,0) rotate3d(0,1,0,90deg);
				&::after {
					top: 50%;
				}
			}
			.topic_areaicon {
				svg path,
				svg circle,
				svg ellipse,
				svg polygon {
					fill: #d3d3d3 !important;
				}
				transform: translate3d(0,0,0) scale(0.625, 0.625);
			}
		}
	}
}
.topic_idea {
	display: block;
	margin: vw(20) auto vw(75);
	width: 100%;
	max-width: vw(780);
    @include screen_upto(desktop) {
        margin: rem(20) auto rem(75);
		max-width: rem(780);
    }

	.sectiontitle {
		margin: vh(35) 0 vw(20);
		@include screen_upto(desktop) {
			margin: rem(35) 0 rem(20);
		}
	}
	.buttonbox {
		margin: vw(65) 0 0;
		@include screen_upto(desktop) {
			margin: rem(65) 0 0;
		}
	}
}

/* --- Mobile App --- */
.mobileapp {
	padding: vw(45) 0;
    background: rgba(77,160,205,1);
    background: -moz-linear-gradient(45deg, rgba(77,160,205,1) 0%, rgba(112,200,98,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(77,160,205,1)), color-stop(100%, rgba(112,200,98,1)));
    background: -webkit-linear-gradient(45deg, rgba(77,160,205,1) 0%, rgba(112,200,98,1) 100%);
    background: -o-linear-gradient(45deg, rgba(77,160,205,1) 0%, rgba(112,200,98,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(77,160,205,1) 0%, rgba(112,200,98,1) 100%);
    background: linear-gradient(45deg, rgba(77,160,205,1) 0%, rgba(112,200,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da0cd', endColorstr='#70c862', GradientType=1 );
    @include screen_upto(desktop) {
        padding: rem(45) 0;
    }
	@include screen_upto(tablet) {
        padding: rem(45) rem(50);
	}
	@include screen_upto(mobile) {
        padding: rem(45) rem(20);
	}

	.mobileapp_wrap {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: vw(1300);
		@include screen_upto(desktop) {
			max-width: rem(1300);
		}

		.block {
			font-size: vw(14);
			vertical-align: middle;
			@include screen_upto(desktop) {
				font-size: rem(14);
			}
		}
	}
}
.mobileapp_download {
	@include screen_upto(tablet) {
		width: 100%;
	}

	.mobileapp_visual {
		padding: 0 vw(20) 0 0;
		@include screen_upto(desktop) {
			padding: 0 rem(20) 0 0;
		}

		a {
			display: block;
		}
		.mobileapp_screen {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: vw(210);
			@include screen_upto(desktop) {
				max-width: rem(210);
			}
		}
		.mobileapp_powered {
			margin: vw(-20) vw(-180) 0 0;
			width: 100%;
			max-width: vw(110);
			@include screen_upto(desktop) {
				margin: rem(-20) rem(-180) 0 0;
				max-width: rem(110);
			}
		}
	}
}
.mobileapp_tutorial {
	padding: 0 0 0 vw(20);
    @include screen_upto(desktop) {
        padding: 0 0 0 rem(20);
    }
	@include screen_upto(tablet) {
        padding: rem(30) 0 0 rem(20);
		width: 100%;
	}

	.tutorialvisual {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: vw(580);
		@include screen_upto(desktop) {
			max-width: rem(580);
		}

		.tutorial_bg {
			position: relative;
			z-index: 1;
			display: block;
			width: 100%;
			filter: blur(0px);
			transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
		}
		.tutorial_monsters {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
			display: block;
			width: 100%;
			transform: translate3d(0,0,0) scale(1.0);
			transition: all 600ms cubic-bezier(.18,.41,.31,1) 0ms;
		}
	}
	.button_2 {
		margin: vw(35) auto vw(10);
		color: $c_black;
		&:hover { 
			color: $c_white;
		}
		@include screen_upto(desktop) {
			margin: rem(35) auto rem(10);
		}
	}
	&:hover {
		.tutorial_bg {
			filter: blur(5px);
			transition: all 300ms cubic-bezier(.18,.41,.31,1) 0ms;
		}
		.tutorial_monsters {
			transform: translate3d(0,-10%,0)  scale(1.2);
			transition: all 900ms cubic-bezier(.18,.41,.31,1) 0ms;
		}
	}
}
